<%- model_class = Issue -%>
<h1><%= model_class.model_name.human.pluralize %></h1>
<p>When reporting a bug or requesting a feature, we would like you to take the time and search this page to see if your issue is already reported. While we won't delete duplicate issues, it will save us time if you know the issue is already posted and do not repost it. Using keywords (such as a unique element of a crash log or an ability name) is a good way to find threads. </p>

<div ng-controller="IssuesCtrl">

<div class="units-row">
  <div class="unit-50">
    <form action="" class="forms">
    <label>
        <input class="width-100" ng-model="qSearch" type="text" name="search" placeholder="Search for an issue" />
    </label>
    </form>
  </div>
  <div class="unit-50">
    <%= link_to 'Submit New Issue', new_issue_path, :class => 'btn btn-green' %>
  </div>
</div>


<div class="units-row">
  <div class="unit-100">
    
<label class="bold">Filters
<nav class="navbar">
    <ul ng-init="selectedOption = 'all'">
      <li><button ng-click="buttonFilter = null; selectedOption = 'all';"class="btn btn-small" ng-class="{'btn-active':selectedOption === 'all'}">All Types</button></li>
      <li><button ng-click="buttonFilter = {issue_type: 'Bug Report'}; selectedOption = 'bugs';" class="btn btn-small" ng-class="{'btn-active':selectedOption === 'bugs'}">Bug Reports</button></li>
      <li><button ng-click="buttonFilter = {issue_type: 'Feature Request'}; selectedOption = 'features';"class="btn btn-small" ng-class="{'btn-active':selectedOption === 'features'}">Feature Requests</button></li>
    </ul>
</nav>
</label>

  </div>
</div>

<table class="striped">
  <thead class="thead-black">
    <tr>
      <th>Votes</th>
      <th>Issue</th>
      <th>Type</th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="issue in issues | fuzzyFilter:qSearch | filter:buttonFilter">
      <td><h5 class="text-centered">{{issue.upvotes}}</h5></td>
      <td><a href="{{issue.url}}">{{issue.name}}</a></td>
      <td>{{issue.issue_type}}</td>
      <td>{{issue.description}}</td>
      <td>{{issue.created_at}}</td>
      <td>{{issue.open}}</td>
    </tr>
  </tbody>
</table>
</div>
