<div class="units-row">
  <div class="units-100">
    <h1><%= AppSettings.app_name %></h1>
  </div>
</div>
<div class="units-row">
  <div class="units-100">
<p><%= AppSettings.about_text %></p>
</div>
</div>