<div class="units-row">
  <div class="unit-70">
    <% @posts.each do |p| %>
      <h3><%= p.name %></h3>
      <p><%= p.content %></p>
    <% end %>
  </div>
  <div class="unit-30">
    <h4 class="text-centered">Latest Developer Posts</h4>
    <h4 class="text-centered">Top Feature Requests</h4>
    <h4 class="text-centered">Top Issues</h4>
  </div>
</div>