<div class="units-row">
  <div class="unit-70">
    <h1><%= AppSettings.app_name %></h1>
  </div>
  <div class="unit-30">
    <p><%= AppSettings.about_text %></p>
  </div>
</div>


<form method="post" action="" class="forms">
    <label class="input-groups">
        <input type="text" name="search" placeholder="Search for an issue" />
        <span class="btn-append">
            <button class="btn btn-green">Go</button>
        </span>
    </label>
</form>

<div class="units-row">
  <div class="unit-30">
    <h4 class="text-centered">Top Feature Requests</h4>
  </div>
  <div class="unit-30">
    <h4 class="text-centered">Top Issues</h4>
  </div>
  <div class="unit-30">
    <h4 class="text-centered">Latest Developer Posts</h4>
  </div>
</div>