<div id="footer">
<hr>
<header class="group">
  <nav class="navbar navbar-left">
  <p>Feedback 1.0</p>
  <nav class="navbar navbar-right">
    <p><a href="http://github.com/Aeze/feedback">Feedback</a> developed by Marcus Orochena</p>
  </nav>
</header>
</div>