<br />
<header class="group">
    <nav class="navbar navbar-left">
        <ul>
            <li><h4><%= AppSettings.app_name %></h4></li>
            <li><a href="/">Home</a></li>
            <li><a href="/issues">Issues</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <nav class="navbar navbar-right">
        <ul>
        <% if user_signed_in? %>
          <li><%= current_user.email %></li>
        <% else %>
          <li><a href="/users/sign_in">Sign In</a></li>
          <li><a href="/users/sign_up">Sign Up</a></li>
        <% end %>
        </ul>
    </nav>
</header>